<a href="https://colab.research.google.com/github/HarshSinha-1/MachineLearning/blob/main/Aiml_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
# What is pandas and why it has been used?

In [ ]:
# Details of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
rows = data.shape[0] #shape will store the dimensionality of the dataset
print(rows)

3000

In [ ]:
data.head(5)  # .head(n) will read the first 'n' data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
data.tail(5)  # .tail(n) read the last 'n' data in the dataset

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
# otherway of knowing the rows and coloms
#len
row = len(data.axes[0])
column =len(data.axes[1])
print("No of row:",row)
print("no of colomn:",column)

No of row: 3000
no of colomn: 9

In [ ]:
# another method
row = len(data.index)
column =len(data.columns)
print("No of row:",row)
print("no of colomn:",column)

No of row: 3000
no of colomn: 9

In [ ]:
# finding out the total missing values in every coloum
missing = data.isnull().sum()
print(missing)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
# finding the missing value in overall dataframes
miss_value = missing.sum()
print(miss_value)

0

In [ ]:
# changing the value at the particular cell
# dataFrame.at[loc,variable/column] = value
data.at[1,'latitude'] ='na'

<ipython-input-4-a6843ec6e4af>:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'na' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[1,'latitude'] ='na'

In [ ]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,na,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
# finding the missing value in overall dataframes
value_miss = data.isna()
print(value_miss)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0         False     False               False        False           False
1         False     False               False        False           False
2         False     False               False        False           False
3         False     False               False        False           False
4         False     False               False        False           False
...         ...       ...                 ...          ...             ...
2995      False     False               False        False           False
2996      False     False               False        False           False
2997      False     False               False        False           False
2998      False     False               False        False           False
2999      False     False               False        False           False

      population  households  median_income  median_house_value
0          False       False          False               False
1          False       False          False               False
2          False       False          False               False
3          False       False          False               False
4          False       False          False               False
...          ...         ...            ...                 ...
2995       False       False          False               False
2996       False       False          False               False
2997       False       False          False               False
2998       False       False          False               False
2999       False       False          False               False

[3000 rows x 9 columns]

In [ ]:
print('Name : HARSH PRAKASH SINHA \n BATCH - 04')

Name : HARSH PRAKASH SINHA
 BATCH - 04

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

data = pd.read_csv("/content/sample_data/california_housing_test.csv")

numerical_features = ['housing_median_age', 'total_rooms', 'total_bedrooms',
                     'population', 'households', 'median_income']

# 1. Standardization (Z-score scaling)
# ----------------------------------
# Create a StandardScaler object
scaler = StandardScaler()

# Fit the scaler to the selected features and transform them
scaled_data = scaler.fit_transform(data[numerical_features])

scaled_df_std = pd.DataFrame(scaled_data, columns=numerical_features, index=data.index)

if 'total_rooms' in data.columns:
    final_data_std = pd.concat([scaled_df_std, data[['total_rooms']]], axis=1)
else:
    # Handle case where 'total_rooms' is not found (e.g., raise an error or skip)
    print("Warning: 'total_rooms' column not found in the dataset.")
    final_data_std = scaled_df_std  # Or handle differently as needed

# 2. Min-Max Scaling (Normalization)

# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Fit the scaler to the selected features and transform them
scaled_data = scaler.fit_transform(data[numerical_features])

# Create a new DataFrame with scaled features
scaled_df_minmax = pd.DataFrame(scaled_data, columns=numerical_features, index=data.index)

# Concatenate the scaled features with the original DataFrame (keeping 'total_rooms')
# Fix: Apply the same check for 'total_rooms' here
if 'total_rooms' in data.columns:
    final_data_minmax = pd.concat([scaled_df_minmax, data[['total_rooms']]], axis=1)
else:
    print("Warning: 'total_rooms' column not found in the dataset.")
    final_data_minmax = scaled_df_minmax  # Or handle differently as needed

In [ ]:
print(data)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
!pip install scikit-learn
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.neighbors import LocalOutlierFactor
from sklearn.model_selection import train_test_split

# Load the dataset
data = pd.read_csv("/content/sample_data/california_housing_test.csv")

# 1. Dimensionality Reduction using PCA
# --------------------------------------
# Select numerical features for PCA
numerical_features = ['housing_median_age', 'total_rooms', 'total_bedrooms',
                     'population', 'households', 'median_income', 'longitude', 'latitude']

# Standardize the numerical features
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data[numerical_features])

# Apply PCA to reduce dimensions (e.g., to 2 components)
pca = PCA(n_components=2)  # Choose the desired number of components
principal_components = pca.fit_transform(scaled_data)

# Create a DataFrame with the principal components
pca_df = pd.DataFrame(data=principal_components, columns=['PC1', 'PC2'], index=data.index)

# Concatenate with 'housing_median_age' if it exists
if 'housing_median_age' in data.columns:
    pca_df = pd.concat([pca_df, data[['housing_median_age']]], axis=1)

# 2. Instance Reduction using Local Outlier Factor (LOF)
# -----------------------------------------------------
# Apply LOF to identify outliers
lof = LocalOutlierFactor(contamination=0.1)  # Adjust contamination as needed
outlier_predictions = lof.fit_predict(scaled_data)

# Filter out the outliers (keep only inliers)
inliers_mask = outlier_predictions != -1  # -1 indicates outliers
reduced_data = data[inliers_mask]

# Combine dimensionality and instance reduction
# --------------------------------------------
final_reduced_data = reduced_data.copy()
final_reduced_data[['PC1', 'PC2']] = pca_df.loc[inliers_mask, ['PC1', 'PC2']]

# Now, final_reduced_data contains the data with reduced dimensions and instances.

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.5.0)